{% extends 'customer/userhome.html' %}
{% load static %}
{% block name %}
 <h4 > Welcome {{data.customer_name|title}}
</h4>
   
{% endblock %}
{% block content %}

<div class="col-sm-10">
    <div class="col-md-10">
      <div class="col-sm-10">
       <div class="row">

    





        {% for author in details %}

        <div class="col-md-4 mt-3">
          <div class="card shadow border mt-3">
            <div class="product align-items-center p-2 text-center">
              <img src="{{author.image.url}}" alt="" class="rounded" width="160" height="140">
              <h5>{{author.author_name|title}}</h5>
            </div>
           
           
            
           
            <div class="p-3 sheo text-center text-white mt-3 cursor">
                <button type="button" class="btn btn-dark"><a href="{% url 'customer:authorbook' author.id %}" style="text-decoration: none;"> View Books</a> </button>
              
            </div>
          </div>
        </div>
        {% endfor %}
    </div>   
</div>

</div>
</div>

  {% endblock %}

  