{% extends 'customer/userhome.html' %}
{% load static %}
{% block name %}
 <h4 > Welcome {{data.customer_name|title}}
</h4>
   
{% endblock %}
{% block content %}


    





        {% for book in details %}

        <div class="col-md-4 mt-3">
          
            <div class="product align-items-center p-2 text-center">
              <img src="{{book.image.url}}" alt="" class="rounded" width="160" height="140">
              
            </div>
          <div style="color:green;padding-left: 90px;">
    <h4 style="color:red;">{{book.product_name}}</h4>

        <p>Product Number:{{book.product_number}}</p>
      <p>{{book.product_description}}</p>
      <p class="price">RS {{book.price}}</p>
      <p><b>Current Stock:{{book.stock}}</b></p>
        </div>
      </div>
        </div>
        {% endfor %}
    </div>   
</div>

</div>
</div>

  {% endblock %}
