
{% extends 'customer/userhome.html' %}
{% load static %}
{% block name %}
 <h4 > Welcome {{data.customer_name|title}}
</h4>
   
{% endblock %}
{% block content %}
<div class="col-sm-8">
    <div class="row">
<h1 align="center">Select a payment method</h1>
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-2">
                    <!-- edit  -->
                </div>
                
                <div class="col-md-8" >
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-1" style="padding-left: 30px;">
                                    <input type="radio" name="payment" value="cod">
                                </div>
                                <div class="col-sm-11 text-secondary">
                                    Cash on delivery
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-1" style="padding-left: 30px;padding-top: 25px;">
                                    <input type="radio" name="payment" value="razorpay">
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    <img src="{% static 'image/razorpay.jpg' %}" alt="" height="100px" width="300px">
                                </div>

                                <div class="col-sm-7 text-secondary" style="padding-top: 40px;">
                                    <b>Razorpay</b>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-11"
                                    style="justify-content: center;justify-items: center;display: flex;">

                                    {% csrf_token%}
                                    <input type="hidden" value="{{name}}" id="hname">
                                    <input type="hidden" value="{{amount}}" id="hamount">
                                    <button class="btn btn-warning" id="rzp-button1">continue</button>
                                    <a class="btn btn-warning" id="rzp-button2" href="{% url 'customer:custhome' %}">continue1</a>
</div>
                </div>
                                </div>
                                <div class="col-sm-1">

                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                  {% endblock %}