
{% extends 'customer/userhome.html' %}
{% load static %}
{% block name %}
 <h4 > Welcome {{data.customer_name|title}}
</h4>
   
{% endblock %}
{% block content %}
<div class="col-sm-8">
<div class="row">
<h1 align="center">Select a payment method</h1>
    <div class="container">
        <div class="main-body">
            <div class="row">
                <div class="col-lg-4">
                    <!-- edit  -->
                </div>
                
                <div class="col-md-8" >
                    <div class="card mb-3">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-1" style="padding-left: 30px;">
                                    <input type="radio" name="payment" value="cod">
                                </div>
                                <div class="col-sm-11 text-secondary">
                                    Cash on delivery
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-1" style="padding-left: 30px;padding-top: 25px;">
                                    <input type="radio" name="payment" value="razorpay">
                                </div>
                                <div class="col-sm-4 text-secondary">
                                    <img src="{% static 'image/razorpay.jpg' %}" alt="" height="100px" width="300px">
                                </div>

                                <div class="col-sm-7 text-secondary" style="padding-top: 40px;">
                                    <b>Razorpay</b>
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-11"
                                    style="justify-content: center;justify-items: center;display: flex;">

                                    {% csrf_token%}
                                    <input type="hidden" value="{{name}}" id="hname">
                                    <input type="hidden" value="{{amount}}" id="hamount">
                                    
                                     <a class="btn btn-warning" id="rzp-button1" >continue1</a>                                 </button>
                                </div>
                            </div>
                                
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                  
        <script>
            $(document).ready(function () {
                $.ajaxSetup({
                    headers: {
                        "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                    }
                })
                $('#rzp-button1').click(function () {
                    name = $('#hname').val()
                    amount = $('#hamount').val()
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'customer:razorpay_payment' %}",
                        data: {
                            'name': name,
                            'total': amount
                        },
                        success: function (response) {
                            console.log('sucess')


                            console.log(response)
                            var options = {
                                "key": 'rzp_test_kEK1aSRc2RrRUA',

                                "amount": response.amount,
                                "currency": "INR",
                                "name": "BOOK STORE",
                                "description": "Test Transaction",
                                "image": "https://cdn.logo.com/hotlink-ok/logo-social.png",
                                "id":"1",
                                "order_id": response.id,

                                "handler": function (response) {
                                    console.log(response.razorpay_payment_id)
                                    console.log(response.razorpay_order_id)
                                    console.log(response.razorpay_signature_id)
                                    updatepayment()
                                },
                                
                                //callback_url: "{{callback_url}}",
                                redirect: true,

                                "theme": {
                                    "color": "#3399cc"
                                }
                            };
                            console.log('dddd',options)
                            var rzp1 = new Razorpay(options);

                            rzp1.on('payment.failed', function (response) {
                                alert(response.error.code);
                                alert(response.error.description);
                                alert(response.error.source);
                                alert(response.error.step);
                                alert(response.error.reason);
                                // alert(response.error.metadata.order_id);
                                alert(response.error.metadata.payment_id);
                            })
                            rzp1.open();
                        }
                    })
                })
                function updatepayment() {
                    $.ajax({
                        type: 'GET',
                        url: "{% url 'customer:updatepayment' %}",
                        success: function (response) {
                            alert("your order placed succesfully")
                            // window.location.reload()
                            window.location.href='http://127.0.0.1:8000/myorder'
                        }
                    })
                }

            })

        </script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                  {% endblock %}