{% extends 'customer/userhome.html' %}
{% load static %}
{% block name %}
 <h4 > Welcome {{data.customer_name|title}}
</h4>
   
{% endblock %}
{% block content %}

<div class="cont col-sm-5">
    <div class="row">
        <div class="col md-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{product.image.url}}"  alt="..." style="width:200px;height:200px;">
                  </div>
                </div>
            </div>
            </div>

<div class="col-md-5">
<h2>{{product.product_name}}</h2>
<form action="" method="POST">
  {% csrf_token %}

<input type="hidden" value="{{product.id}}"name="pid" id="">
<p>Product Number:{{product.product_number}}</p>
<p>{{product.product_description}}</p>
<p class="price">RS {{product.price}}</p>
<p><b>Current Stock:{{product.stock}}</b></p>
<div>
<button type="submit" class="btn btn-primary cart"> Add to cart</button>
<a href="{% url 'customer:checkout'%}" class="btn btn-primary">Buy Now</a>
</div>
<div class="col-md-2"> <a href="{% url 'customer:addtowishlist' product.id %}" class="btn btn-white w-50 ms-3" id="hrt">
  <i class="hr fa-lg fa-solid fa-heart" id="iconhrt"></i>
</a></div>
<p class="alert">{{msg}}</p>

</form>
</div>
</div>
</div>


{% endblock %} 