{% extends 'adbook/home.html' %}
{% load static %}

{% block content %}

     <div class="container">
        <h1 class="bg-primary text-white text-center"> SHOP NOW</h1>
    </div>  

       
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card text-center border-2 border-warning" style="width: 200px; height:auto;">
                    <div class="card-body">
                        <img src="{% static 'image/bk12.jpg'%}" alt="" class="card-img-top">
                        <h2 class="card-title">bookname</h2>
                        <p class="card-text">
                            about book for one line
                        </p>
                        <h4 class="text-danger">Rs: 500</h4>
                        <button class="btn btn-primary">Buy Now</button>
            
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center border-2 border-warning" style="width: 200px; height:auto;">
                    <div class="card-body">
                        <img src="{% static 'image/bk14.jpg'%}" alt="" class="card-img-top">
                        <h2 class="card-title">bookname</h2>
                        <p class="card-text">
                            about book for one line
                        </p>
                        <h4 class="text-danger">Rs: 500</h4>
                        <button class="btn btn-primary">Buy Now</button>
            
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center border-2 border-warning" style="width: 200px; height:auto;">
                    <div class="card-body">
                        <img src="{% static 'image/bk17.jpg'%}" alt="" class="card-img-top">
                        <h2 class="card-title">bookname</h2>
                        <p class="card-text">
                            about book for one line
                        </p>
                        <h4 class="text-danger">Rs: 500</h4>
                        <button class="btn btn-primary">Buy Now</button>
            
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card text-center border-2 border-warning" style="width: 200px; height:auto;">
                    <div class="card-body">
                        <img src="{% static 'image/bk22.jpg'%}" alt="" class="card-img-top">
                        <h2 class="card-title">bookname</h2>
                        <p class="card-text">
                            about book for one line
                        </p>
                        <h4 class="text-danger">Rs: 500</h4>
                        <button class="btn btn-primary">Buy Now</button>
            
                    </div>
                </div>
            </div>

        </div>
    </div>

              


{% endblock %}