{% extends 'adbook/home.html' %}
{% load static %}

{% block content %}
<div class="cont col-sm-5">
    <div class="row">
        <div class="col md-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{product.image.url}}"  alt="..." style="width:200px;height:200px;">
                  </div>
                </div>
            </div>
            </div>

<div class="col-md-5">
<h2>{{product.product_name}}</h2>
<form action="" method="POST">
  {% csrf_token %}

<input type="hidden" value="{{product.id}}"name="pid" id="">
<p>Product Number:{{product.product_number}}</p>
<p>{{product.product_description}}</p>
<p class="price">RS {{product.price}}</p>
<p><b>Current Stock:{{product.stock}}</b></p>
<div>
    <button class="btn btn-danger">
        <a href="{% url 'adbook:delete' product.id %}"
          style="color: aliceblue; text-decoration: none;">REMOVE</a>
         
      </button>
   

</div>


</form>
</div>
</div>
</div>
{% endblock %}