{% extends 'adbook/home.html' %}
 {% block content %}
<style>
    .divr{
        height: 90px;
        width: 100%;
        background-color: antiquewhite;
    }
    .reg1{
        font-size: 20px;
        padding-left: 500px;
    }
    .reg2{
        font-size: 30px;

        padding-left:500px ;
    }
    .reg3{
        
        padding-left: 500px;
    }
    .divr1{
        padding-left: 300px;
    }
</style>
  <div class="divr">
<table>
    <tr>
        <td class="reg1">Home|Registration</td>
    </tr>
    <tr><td class="reg2">Registration</td></tr>
</table>
</div>
<div class="divr1">
    <table class="reg3">
        <tr>
            <td> Register</td><br/>
        </tr>
        <tr><td style="padding-top: 50px;">Email Address</td></tr>
        <tr><td><hr/></td></tr>
        <tr><td>Password</td></tr>
        <tr><td><hr/></td></tr>
        <tr><td>Phone Number</td></tr>
        <tr><td><hr/></td></tr>
        <tr><td>
            <p style="font-size: 13px;">
                Your Personal Data Will Be Used To Support Your Experience
                 Throughout This Website,<br/> To Manage
                 Access To Your Account, And For Other Purposes Described In Our <br/>

                  Privacy Policy.
            </p>
            <button>Register            </button>        </td></tr>


    </table>
  </div>

   
 {% endblock %}