

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


{% block header %}
{% endblock %}
<style>
  .div3{
    background-color:gray;
    height: 50px;
    width: 100%;
  }
  .foot1{
    padding-left: 60px;
  }
  .foot2{
    padding-left: 60px;
  }
  img[alt='pic5']{
    height: 20px;
    width:20px;
    padding-left: 10px;
}
img[alt='pic1']{
    height: 45px;
    width: 150px;
    padding-left: 80px;
}
img[alt='pic2']{
    height: 40px;
    width: 20px;
}
.div4
{
  background-color: white; 
  height: 300px;
  width: 100%;

}
img[alt='pic4']{
    height: 150px;
    width: 300px;
}
.maindiv
{
  background-color: rgb(226, 223, 223);
  height: 500%;
  width: 100%;
}

#id1
{
  font-size: 30px;

}
#id1:hover{
    color: red;
}
img[alt='pics1']{
    height: 200px;
    width: 200px;
}
nav .collapse navbar-collapse ul li a:hover{
  padding: 10px;
  background: #fff;
  color: #000;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 500;
}

</style>
  </head>
<body>

  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-orange" style="background-color:orange;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"> <b> BOOKSTORE </b> </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'common:commonhome' %}" ><img src="{% static 'image/lib.jpg'%}" alt="pic1"> </a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{% url 'common:commonhome' %}" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'common:custlogin' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'common:custreg' %}">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'adbook:aboutus' %}">About us</a>
        </li>
        <div class="dropdown ">
          <button class="btn btn-white dropdown-toggle h-100" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown">
            <i class="fa-solid fa-user w-50 h-100"></i>
            
          </button>
  
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'common:custlogin' %}">Customer</a></li>
            <li><a class="dropdown-item" href="{% url 'common:adminlog' %}">Admin</a></li>
          </ul>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

         
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
{% block content %}
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="{% static 'image/bookstore3.jpg'%}" alt="pic3" class="d-block w-100" alt="pic3">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="{% static 'image/bookstore4.jpg'%}" class="d-block w-100" alt="pic3">
    </div>

    <div class="carousel-item">
      <img src="{% static 'image/bookstore5.jpg'%}" class="d-block w-100" alt="pic3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




    
      <div style="height: auto;  width:100%;  background-color:bisque;">
        
        <h3 style="padding-top: 20px; ">English Stories& Novels</h3>

         
      <div class="container">
          <div class="row">
              <div class="col-3">
                  <div style="width: 200px; height:auto;">
                      <div class="card-body">
                          <img src="{% static 'image/bkk1.jpg'%}" alt="" class="card-img-top">
                          <div style="padding-left: 50px; padding-top: 20px;">
                          <a href="{% url 'common:custreg' %}" >
                          <button class="btn btn-primary" >view more</button></a>
                        </div>
                      </div>
                  </div>
              </div>
          
              <div class="col-3">
                <div style="width: 200px; height:auto;">
                    <div class="card-body">
                        <img src="{% static 'image/cuban.jpg'%}" alt="" class="card-img-top">
                        <div style="padding-left: 50px; padding-top: 20px;">
                        <a href="{% url 'common:custreg' %}" >
                        <button class="btn btn-primary" >view more</button></a>
                      </div>
                    </div>
                </div>
            </div>
        
         
      
            <div class="col-3">
              <div style="width: 200px; height:auto;">
                  <div class="card-body">
                      <img src="{% static 'image/tale.jpg'%}" alt="" class="card-img-top">
                      <div style="padding-left: 50px; padding-top: 20px;">
                      <a href="{% url 'common:custreg' %}" >
                      <button class="btn btn-primary" >view more</button></a>
                    </div>
                  </div>
              </div>
          </div>
      
          <div class="col-3">
            <div style="width: 200px; height:auto;">
                <div class="card-body">
                    <img src="{% static 'image/strugle.jpg'%}" alt="" class="card-img-top">
                    <div style="padding-left: 50px; padding-top: 20px;">
                    <a href="{% url 'common:custreg' %}" >
                    <button class="btn btn-primary" >view more</button></a>
                  </div>
                </div>
            </div>
        </div>
    
         </div>
        </div>

        <div>
          <h3>Malayalam Stories& Novels</h3>

         
          <div class="container">
              <div class="row">
                  <div class="col-3">
                      <div style="width: 200px; height:auto;">
                          <div class="card-body">
                              <img src="{% static 'image/ummachu.jpg'%}" alt="" style="height: 300px;"  card-img-top">
                              <div style="padding-left: 50px; padding-top: 20px;">
                              <a href="{% url 'common:custreg' %}" >
                              <button class="btn btn-primary" >view more</button></a>
                            </div>
                          </div>
                      </div>
                  </div>
              
                  <div class="col-3">
                    <div style="width: 200px; height:auto;">
                        <div class="card-body">
                            <img src="{% static 'image/aadu.jpg'%}" alt="" style="height: 300px;" class="card-img-top">
                            <div style="padding-left: 50px; padding-top: 20px;">
                            <a href="{% url 'common:custreg' %}" >
                            <button class="btn btn-primary" >view more</button></a>
                          </div>
                        </div>
                    </div>
                </div>
            
             
          
                <div class="col-3">
                  <div style="width: 200px; height:auto;">
                      <div class="card-body">
                          <img src="{% static 'image/basheeraana.jpg'%}" alt="" class="card-img-top">
                          <div style="padding-left: 50px; padding-top: 20px;">
                          <a href="{% url 'common:custreg' %}" >
                          <button class="btn btn-primary" >view more</button></a>
                        </div>
                      </div>
                  </div>
              </div>
          
              <div class="col-3">
                <div style="width: 200px; height:auto;">
                    <div class="card-body">
                        <img src="{% static 'image/benyamin.jpg'%}" alt=""style="height: 300px;" class="card-img-top">
                        <div style="padding-left: 50px; padding-top: 20px;">
                        <a href="{% url 'common:custreg' %}" >
                        <button class="btn btn-primary" >view more</button></a>
                      </div>
                    </div>
                </div>
            </div>
        
             </div>
            </div>
        </div>

         








{% endblock %}

<div class="div3">
</div>
<hr>
<div class="div6">
  <table>
    <tr>
      <td class="foot1" style="padding-left: 400px;">Hours & Store Info  | Contact Us | Privacy Policy | Return Policy | Help </td>
    
       <td rowspan="4"><img src="{% static 'image/lib.jpg'%}" alt="pic1"> <b>BOOKSTORE</b></td> 

      </tr>
      <tr>
        <td class="foot1" style="padding-left: 400px;">Calicut Books Kerala Kozhikode Pantheerankave near Police station</td>
      </tr>
      <tr>
        <td class="foot1" style="padding-left: 500px;">Copyright @ Calicut BookShop</td>
       </tr>
       <tr>
        <td class="foot1" style="padding-left: 400px;">If you need assistance with this website, please contact us.</td>
       </tr>
  </table>
</div>
</body>
</html>