{% extends 'common/commonhome.html' %}
{% block content %}
{% load static %}







<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div>
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase">CUSTOMER REGISTRATION FORM</h3>
                  <form method="POST">
                    {% csrf_token %}
                    {{ msg }}
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="form-outline">
                        <input type="text" id="name" name="c_name"class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1m">Name</label>
                        <span id="name_sp"></span>
                      </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="form-outline">
                        <input type="text" id="address" name="c_address" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1n">Address</label>
                        <span id="add_sp"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <div class="form-outline">
                        <input type="text" id="phone"name="c_phone" class="form-control form-control-lg" />
                        <label class="form-label"  for="form3Example1m1">Phonenumber</label>
                        <span id="ph"></span>
                      </div>
                    </div>
                      
                  <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Gender: </h6>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="c_gender" id="female"
                        value="femail" />
                      <label class="form-check-label" for="femaleGender">Female</label>
                      <span id="female_sp" ></span>
                    </div>
  
                    <div class="form-check form-check-inline mb-0 me-4">
                      <input class="form-check-input" type="radio" name="c_gender" id="male"
                        value="male" />
                      <label class="form-check-label" for="maleGender">Male</label>
                      <span id="male_sp" ></span>
                    </div>
  
                    <div class="form-check form-check-inline mb-0">
                      <input class="form-check-input" type="radio" name="c_gender" id="other"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Other</label>
                      <span id="oth_sp" ></span>
                    </div>
  
                  </div>
                    
                  <div class="form-outline mb-4">
                    <input type="email" id="email" name="c_email"class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example97">Email ID</label>
                    <span id="email_error"></span>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="password" name="c_password"class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example97">Password</label>
                    <span id="pass_sp" ></span>
                  </div>
                  <div>
                    <button type="submit"id="sub" class="btn btn-primary">Submit</button>
                    <span id="sub_sp"></span>
                  </div>
                  <div class="d-flex justify-content-end pt-3">
                    <p>Already have an account?
                    <a href="{% url 'common:custlogin' %}" >Click here</a></p>
                    </div>
                    
                  </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<script>
  $('#email').change(function(){
    $.ajaxSetup({  
    headers: {
      "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val() 
    }
    })

    $.ajax({

        url:'{% url "common:email_exist" %}', 
        type:'POST', 
        
        data:{
            email:$(this).val() 
        },
        success:function(response){
            var email_error = $('#email_error')
            var email = $('#email')


            if(response.status == true){
                $('#email_error').html('Email already exist').css('color','red')
                $('#email').css('border','2px solid red')
            }
            else{
                $('#email_error').html('Success').css('color','green')
                $('#email').css('border','2px solid green')


            }

            console.log(response.status)
        }

    })

})

</script>
<script>
  $(document).ready(function()
  {
      $('#sub').click(function()
      {
          var name1 = $('#name')
          var add1 = $('#address')
          var ph1 = $('#ph')
          var female1 = $('#female')
          var male1 = $('#male')
          var other1 = $('#other')
          var email1 = $('#email')
          var pass1 = $('#password')
          if(name1.val() == ''){
              $('#name_sp').html('please enter the name').css('color','red')
              $('#name').css('border','2px solid red')
          }
         
          if(add1.val() == ''){
              $('#add_sp').html('please enter the Address').css('color','red')
              $('#address').css('border','2px solid red')
          }
          if(ph1.val() == ''){
              $('#ph_sp').html('please enter the Phone number').css('color','red')
              $('#phone').css('border','2px solid red')
          }
          if(male1.checked==false && female1.checked==false &&other1.checked==false){
              $('#female_sp').html('please enter the gender').css('color','red')
              $('#fename').css('border','2px solid red')
          }
     
         
          if(email1.val() == ''){
              $('#email_error').html('please enter the emil').css('color','red')
              $('#email').css('border','2px solid red')
          }
     
         
          if(pass.val() == ''){
              $('#pass_sp').html('please enter the password').css('color','red')
              $('#password').css('border','2px solid red')
          }
     
     
     
      })
  })
</script>

  {% endblock %}
